
<ion-header>

  <ion-navbar color="primary" text-center class="text">
    <ion-title>Calcular Receta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-fab top right>
    <button ion-fab mini (click)="convertir_cantidad()">
      <ion-icon name="add"></ion-icon></button>
    </ion-fab>


  <ion-item>
  <ion-label style="color:#000000; font-weight: 800;" floating>Cant de Materia P.</ion-label>
  <ion-input type="number" [(ngModel)]="pulpa" required></ion-input>
</ion-item>
<ion-item>
   <ion-label style="color:#000000;font-weight: 800;" >Unidad de Medida</ion-label>
   <ion-select [(ngModel)]="unidad_medida" interface="popover">
     <ion-option value="gramos">Gramos (g)</ion-option>
     <ion-option value="kilos">Kilos (Kg)</ion-option>
     <ion-option value="libras">Libras (Lb)</ion-option>

   </ion-select>
 </ion-item>
<br>
<ion-buttons>
  <button ion-button style="font-weight: 800;" (click)="calcular(pulpa,unidad_medida)" class="text" block icon-end>
      Calcular
      <ion-icon name="md-clipboard"></ion-icon>
  </button>
</ion-buttons>

  <ion-grid *ngIf="mostrar_tabla">
    <ion-row>
      <ion-col col-md text-center>
    <h1 class="text">   Ingredientes </h1>
      </ion-col>
      <ion-col text-center>
      <h1 class="text">  Valor </h1>
      </ion-col>
    </ion-row >


<ion-row *ngFor="let item of resultado_calculo">
    <ion-col text-center>
     {{item.ingrediente }}
    </ion-col>

    <ion-col text-center>
  <span>    {{item.valor}} ({{UM_seleccionada}})</span>
    </ion-col>


</ion-row>

  </ion-grid>
</ion-content>

<ion-footer no-border>

  <ion-navbar  color="primary" text-center class="text">
    <ion-label>
       <img class="icon-fishes" src="assets/img/espada.png">
      EMBUTIDOS DEL MAR   <img class="icon-fishes" src="assets/img/espada.png">
    </ion-label>
  </ion-navbar>

</ion-footer>
