.ios, .md{
page-receta {
  ion-item{
    padding: 10px;
    background: transparent !important;
    color: #000000;
    font-family: 'Gloria Hallelujah', cursive;
    -webkit-box-shadow: 15px 7px 16px -5px rgba(0,0,0,0.75);
     -moz-box-shadow: 15px 7px 16px -5px rgba(0,0,0,0.75);
     box-shadow: 15px 7px 16px -5px rgba(0,0,0,0.75);
 }

 .text{
   font-family: 'Gloria Hallelujah', cursive;
   color: #000000;
 }
 ion-col{
   color: #000000;
    border: 1px solid #000000;
 }

 .icon-fishes {
   width: 10%;
   height: 10%;
 }

}
}
