page-detalleproducto {

  .img{
      border-radius: 100%;
  }

  ion-card {
     position: relative;
     text-align: center;
   }
   // .icon-fishes {
   //
   //   width: 10%;
   //   height: 10%;
   // }
  .texto2{

	font: 400 100%/30px arial;
	direction:ltr;
  text-align: justify;

}

ion-content{

    background-image: url('../assets/imgs/pez.png');
    background-position: 100%;
    background-attachment: fixed;


}

.card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .text{
    font-family: 'Gloria Hallelujah', cursive;
    color: #FFF;
  }

}
