.ios, .md{
page-detalleproducto {

  .img{
      border-radius: 40%;
  }

  ion-card {
     position: relative;
     text-align: center;
   }
   .icon-fishes {
     width: 10%;
     height: 10%;

   }
  .texto2{
	font-family: 'Gloria Hallelujah', cursive;
	direction:ltr;
  text-align: justify;
  color: #000000;
  font-weight: 600;
}



.card-title {
  font-family: 'Gloria Hallelujah', cursive;
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #FFF;
  }

  .text{
    font-family: 'Gloria Hallelujah', cursive;
    color: #000000;
    font-weight: 600;
  }

}
.toolbar-title-md {
  color:  #000000;
}
}
